{
    "Servers": {
        "1": {
            "Name": "ShadowCheck Remote",
            "Group": "ShadowCheck",
            "Host": "AUTO_DISCOVERED",
            "Port": 5432,
            "MaintenanceDB": "shadowcheck_db",
            "Username": "shadowcheck_user",
            "SSLMode": "require",
            "SSLRootCert": "/var/lib/pgadmin/global-bundle.pem"
        }
    }
}
